@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700");

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #FFBE0B;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-size: 0.8em;
    color: #333;
    display: flex;
    flex-direction: column;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.otsikko h1 {
    color: black;
    text-align: center;
    margin: 20px 0;
}

/* Tehtävälista */
.tasks {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #e2e2e2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tasks ul {
    list-style: none;
    padding: 5px;
}

.tasks ul li {
    margin-bottom: 10px;
    color: #222;
    font-weight: 500;

}



.tasks ul li button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.tasks ul li button:hover{
    background-color: #059862;
    transform: scale(1.05);
}




.lt {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.lt h2 {
    color: black;
    text-align: center;
    margin-bottom: 15px;
}

.lt form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.lt form button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.lt form button:hover {
    background-color: #059862;
    transform: scale(1.05);
}



