body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: black;
    text-align: center;

}


.tasks {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #e2e2e2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);



}

.tasks ul {
    list-style: none;
    outline-style: outset;
    padding: 0;

}

.tasks li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.lt button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.lt input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;


}