<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO-lista</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="otsikko">
    <h1>TODO-lista</h1>

    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}
</div>
<div class="tasks">
    <ul>
        {% for task in tasks %}
            <li>{{ task.id }} - {{ task.title }}
                <form method="post" action="/done/{{ task.id }}" style="display:inline;">
                    <button type="submit">Valmis</button>
                </form>
            </li>


        {% else %}
            <li>Ei tehtäviä</li>
        {% endfor %}
    </ul>
</div>
<div class="lt">
    <h2>Lisää tehtävä</h2>
    <form method="post" action="/add">
        <input type="text" name="title" placeholder="Lisää task" required>
        <button type="submit">Lisää</button>
    </form>
</div>
</body>
</html>